name: Clippy 

on: ["push", "pull_request"]

# Cancel in-progress runs for previous commits if there are any that haven't completed yet.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  clippy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4      
      # Use stable Rust toolchain 
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      # - name: Install LLVM
      #   # See: https://apt.llvm.org/
      #   # Last line: https://gitlab.com/taricorp/llvm-sys.rs/-/issues/13
      #   run: |
      #     wget https://apt.llvm.org/llvm.sh
      #     chmod +x llvm.sh
      #     sudo ./llvm.sh 18 all
      #     sudo apt install libpolly-18-dev libz-dev

      - name: Run Clippy
        run: cargo clippy -- --deny clippy::all --deny warnings
